agate==1.6.3; python_full_version >= "3.7.2"
appdirs==1.4.4; python_version >= "3.7"
attrs==22.1.0; python_version >= "3.7" and python_full_version >= "3.7.2"
babel==2.11.0; python_version >= "3.6" and python_full_version >= "3.7.2"
certifi==2022.9.24; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.2"
cffi==1.15.1; python_full_version >= "3.7.2"
chardet==5.0.0; python_full_version >= "3.7.2" and python_full_version < "4.0.0" and python_version >= "3.7"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.2"
cli-helpers==2.3.0; python_version >= "3.6"
click==8.1.3; python_version >= "3.7" and python_full_version >= "3.7.2"
colorama==0.4.5; python_full_version >= "3.7.2" and python_version >= "3.7" and platform_system == "Windows" and (python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0") and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and python_version >= "3.7" and platform_system == "Windows")
configobj==5.0.6; python_version >= "3.6"
dbt-core==1.3.1; python_full_version >= "3.7.2"
dbt-duckdb==1.3.2
dbt-extractor==0.4.1; python_full_version >= "3.7.2"
diff-cover==7.0.2; python_full_version >= "3.7.2" and python_full_version < "4.0.0" and python_version >= "3.7"
duckcli==0.2.1
duckdb==0.6.0
exceptiongroup==1.0.4; python_version < "3.11" and python_version >= "3.7"
future==0.18.2; python_full_version >= "3.7.2"
hologram==0.0.15; python_full_version >= "3.7.2"
idna==3.4; python_version >= "3.7" and python_full_version >= "3.7.2" and python_version < "4"
iniconfig==1.1.1; python_version >= "3.7"
isodate==0.6.1; python_full_version >= "3.7.2"
jinja2==3.1.2; python_version >= "3.7" and python_full_version >= "3.7.2" and python_full_version < "4.0.0"
jsonschema==3.2.0; python_full_version >= "3.7.2"
leather==0.3.4; python_full_version >= "3.7.2"
logbook==1.5.3; python_full_version >= "3.7.2"
markupsafe==2.1.1; python_version >= "3.7" and python_full_version >= "3.7.2"
mashumaro==3.0.4; python_version >= "3.6" and python_full_version >= "3.7.2"
minimal-snowplow-tracker==0.0.2; python_full_version >= "3.7.2"
msgpack==1.0.4; python_version >= "3.6" and python_full_version >= "3.7.2"
networkx==2.8.8; python_version >= "3.8" and python_full_version >= "3.7.2"
numpy==1.23.4; python_version >= "3.8"
packaging==21.3; python_version >= "3.7" and python_full_version >= "3.7.2"
parsedatetime==2.4; python_full_version >= "3.7.2"
pathspec==0.9.0; python_full_version >= "3.7.2" and python_version >= "3.7"
pluggy==1.0.0; python_full_version >= "3.7.2" and python_full_version < "4.0.0" and python_version >= "3.7"
prompt-toolkit==3.0.32; python_full_version >= "3.6.2"
pycparser==2.21; python_full_version >= "3.7.2"
pygments==2.13.0; python_version >= "3.7" and python_full_version >= "3.7.2" and python_full_version < "4.0.0"
pyparsing==3.0.9; python_version >= "3.6" and python_full_version >= "3.7.2"
pyrsistent==0.19.2; python_version >= "3.7" and python_full_version >= "3.7.2"
pytest==7.2.0; python_version >= "3.7"
python-dateutil==2.8.2; python_full_version >= "3.7.2"
python-slugify==6.1.2; python_full_version >= "3.7.2"
pytimeparse==1.1.8; python_full_version >= "3.7.2"
pytz==2022.6; python_version >= "3.6" and python_full_version >= "3.7.2"
pyyaml==6.0; python_version >= "3.7" and python_full_version >= "3.7.2"
regex==2022.10.31; python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.7.2"
six==1.16.0; python_full_version >= "3.7.2" and python_version >= "3.6"
sqlfluff==1.2.1; python_version >= "3.7"
sqlparse==0.4.3; python_version >= "3.5" and python_full_version >= "3.7.2"
tabulate==0.9.0; python_version >= "3.7"
tblib==1.7.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
text-unidecode==1.3; python_full_version >= "3.7.2"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.7"
tqdm==4.64.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
typing-extensions==4.4.0; python_version >= "3.7" and python_full_version >= "3.7.2"
urllib3==1.26.12; python_full_version >= "3.7.2" and python_version < "4" and python_version >= "3.7"
wcwidth==0.2.5; python_version >= "3.7" and python_full_version >= "3.6.2"
werkzeug==2.2.2; python_version >= "3.7" and python_full_version >= "3.7.2"
